@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Mouse+Memoirs&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Mouse Memoirs', sans-serif;
}
nav{
    font-size: 25px;
}
body{
    background-color: #FBE1BB;
}
.footer{
    background-color: orange;
}
.pizza{
    color: orangered;
}
.galeria{
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.contacto{
    margin-top: 100px;
}